body{
	
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
	background-color: #000000;
}


h1{
	font-family: 'Montserrat', sans-serif;
  font-size: 85px;
  color: #7DFA96;
  line-height: 85px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFE0;
  font-size: 34px


}

h1 {
  animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    color: teal;
  }
  20% {
    color: gold;
  }
  40% {
    color: indianred;
  }
  60% {
    color: violet;
  }
  80% {
    olor: green;
  }
  100% {
    color: teal;
  }
}


.main{
	max-width: 800px;

	.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
}

<style>.crosshair {cursor: crosshair;}</style>

.crosshair {cursor: crosshair;}