body{
	
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
	background-color: #000000;
}



h1{
	font-family: 'Montserrat', sans-serif;
  font-size: 85px;
  color: #7DFA96;
  line-height: 85px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFE0;
  font-size: 36px

}


.main{
	max-width: 800px;

	.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
}